<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="head(title)">
    <title th:replace="${title}">Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript"
            th:src="@{/content/web/scripts/jquery/jquery-3.2.1.js}"></script>
    <script>
        var ctx = "[[@{/}]]";
    </script>
</head>
<body>

<div>

    <div layout:fragment="content">
    </div>

</div>
</body>
</html>