/aframework/.idea
/aframework/aframework-domain/target
/aframework/aframework-api/target
/aframework/aframework-core/target
/aframework/aframework-data/target
/aframework/aframework-service/target
/aframework/aframework-web/target
*.iml
/Plugs/mybatis-generator/lib/com
/Plugs/apache-jmeter-3.2/backups
