# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project 
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
logs/
*.doc
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db

*.class

# web api document build ignore
docs/


# plugs ignore
/Plugs/mybatis-generator/lib/com
/Plugs/apache-jmeter-3.2/backups
/Plugs/apache-jmeter-3.2/bin/jmeter.log

