<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.repository.orders.IOrderRepository">

    <select id="getAllOrder" resultType="com.domain.orders.Order">
		select * from `t_order`
	</select>

    <select id="getOrderById" resultType="com.domain.orders.Order">
		select * from `t_order`
		where id=#{value}
	</select>

    <select id="getOrderByUuid" resultType="com.domain.orders.Order">
        select * from `t_order`
        where uuid=#{value}
    </select>


    <select id="orderPageList" resultType="com.domain.orders.Order">
        select * from `t_order`
        <if test="offset != null and limit != null ">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="orderPageCount" resultType="java.lang.Integer">
        select count(*) from `t_order`
    </select>


    <insert id="insertOrder" parameterType="com.domain.orders.Order"
            useGeneratedKeys="true" keyProperty="id">
            insert into `t_order`
             (`uuid`,`user_id`,`unit_price`)
            values
            (#{uuid}, #{user_id}, #{unit_price});
	</insert>


</mapper>