<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context-4.3.xsd
	                        http://code.alibabatech.com/schema/dubbo
	                        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

<!--    <context:property-placeholder location="classpath:database.properties" ignore-unresolvable="true"/>

    <import resource="classpath:spring-core.xml"/>
    <import resource="classpath:spring-data.xml"/>
    <import resource="classpath:spring-service.xml"/>-->


    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="aframework-dubbo-provider"/>

    <!-- 使用zookeeper广播注册中心暴露服务地址 -->
    <dubbo:registry  protocol="zookeeper"  address="192.168.199.61:2181,192.168.199.62:2181,192.168.199.63:2181"  />

    <!-- 声明需要暴露的服务接口, 注意：消费端的接口和服务端用户接口包名需保持一致  -->
    <dubbo:service interface="com.dubbo.interfaces.IAfUserService" ref="afUserService" loadbalance="roundrobin"/>
    <!-- 和本地bean一样实现服务 -->
    <bean id="afUserService" class="com.dubbo.provider.implementes.AfUserService"/>



</beans>