<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:rdb="http://www.dangdang.com/schema/ddframe/rdb"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd
                        http://www.dangdang.com/schema/ddframe/rdb
                        http://www.dangdang.com/schema/ddframe/rdb/rdb.xsd
                        ">

    <!--      定义读写分离数据源, 读写分离数据源实现了DataSource接口, 可直接当做数据源处理     -->
    <rdb:master-slave-data-source id="msds" master-data-source-ref="master_ds"
                                  slave-data-sources-ref="slave1_ds,slave2_ds"/>

    <rdb:master-slave-data-source id="msds_order_2017" master-data-source-ref="master_order_ds_2017"
                                  slave-data-sources-ref="slave1_order_ds_2017,slave2_order_ds_2017"/>

    <rdb:master-slave-data-source id="msds_order_2018" master-data-source-ref="master_order_ds_2018"
                                  slave-data-sources-ref="slave1_order_ds_2018,slave2_order_ds_2018"/>

    <rdb:master-slave-data-source id="msds_order_2019" master-data-source-ref="master_order_ds_2019"
                                  slave-data-sources-ref="slave1_order_ds_2019,slave2_order_ds_2019"/>


    <rdb:strategy id="databaseNoneShardingStrategy" sharding-columns="none"
                  algorithm-class="com.dangdang.ddframe.rdb.sharding.api.strategy.database.NoneDatabaseShardingAlgorithm"/>
    <rdb:strategy id="tableNoneShardingStrategy" sharding-columns="none"
                  algorithm-class="com.dangdang.ddframe.rdb.sharding.api.strategy.table.NoneTableShardingAlgorithm"/>



    <rdb:strategy id="timeDataSourceShardingStrategy" sharding-columns="sharding_sign" algorithm-class="com.repository.sharding.algorithm.TimeDatabaseShardingAlgorithm"/>
    <rdb:strategy id="timeTableShardingStrategy" sharding-columns="sharding_sign" algorithm-class="com.repository.sharding.algorithm.TimeTableShardingAlgorithm"/>

    <rdb:data-source id="shardingDataSource">
        <rdb:sharding-rule data-sources="msds">
            <rdb:table-rules>
                <rdb:table-rule logic-table="t_user" actual-tables="t_user"
                                database-strategy="databaseNoneShardingStrategy"
                                table-strategy="tableNoneShardingStrategy"/>
            </rdb:table-rules>
        </rdb:sharding-rule>
    </rdb:data-source>


    <rdb:data-source id="orderShardingDataSource">
        <rdb:sharding-rule data-sources="msds_order_2017,msds_order_2018,msds_order_2019">
            <rdb:table-rules>
                <rdb:table-rule logic-table="t_order" actual-tables="t_order_${1..12}"
                                database-strategy="timeDataSourceShardingStrategy"
                                table-strategy="timeTableShardingStrategy">
                    <rdb:generate-key-column column-name="id"/>
                </rdb:table-rule>
            </rdb:table-rules>
        </rdb:sharding-rule>
    </rdb:data-source>

</beans>