<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:rdb="http://www.dangdang.com/schema/ddframe/rdb"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd
                        http://www.dangdang.com/schema/ddframe/rdb
                        http://www.dangdang.com/schema/ddframe/rdb/rdb.xsd
                        ">

    <!--      定义读写分离数据源, 读写分离数据源实现了DataSource接口, 可直接当做数据源处理     -->
    <rdb:master-slave-data-source id="dbtbl" master-data-source-ref="masterDataSource"
                                  slave-data-sources-ref="salve1DataSource,salve2DataSource"/>

    <rdb:master-slave-data-source id="dbtbl_order" master-data-source-ref="masterOrderDataSource"
                                  slave-data-sources-ref="salve1OrderDataSource,salve2OrderDataSource"/>


    <!-- 定义读写分离数据源, 读写分离数据源实现了DataSource接口, 可直接当做数据源处理 , 最好设置为3的倍数 -->
    <!--
        <rdb:strategy id="databaseNoneShardingStrategy" sharding-columns="none"
                      algorithm-class="com.dangdang.ddframe.rdb.sharding.api.strategy.database.NoneDatabaseShardingAlgorithm"/>
        <rdb:strategy id="tableNoneShardingStrategy" sharding-columns="none"
                      algorithm-class="com.dangdang.ddframe.rdb.sharding.api.strategy.table.NoneTableShardingAlgorithm"/>

        <rdb:strategy id="databaseShardingStrategy" sharding-columns="user_id"
                      algorithm-class="com.repository.sharding.algorithm.SingleKeyModuloDatabaseShardingAlgorithm"/>

        <rdb:strategy id="tableShardingStrategy" sharding-columns="id"
                      algorithm-class="com.repository.sharding.algorithm.SingleKeyModuloTableShardingAlgorithm"/>

        <rdb:strategy id="databaseStrategy" sharding-columns="user_id" algorithm-expression="dbtbl_${id.longValue() % 3}"/>
        <rdb:strategy id="orderTableStrategy" sharding-columns="id" algorithm-expression="t_order_${id.longValue() % 3}"/>
     -->

    <rdb:strategy id="TimeDatabaseShardingAlgorithm" sharding-columns="none"
                  algorithm-class="com.repository.sharding.algorithm.TimeDatabaseShardingAlgorithm"/>

    <rdb:strategy id="timeTableStrategy" sharding-columns="id"
                  algorithm-class="com.repository.sharding.algorithm.TimeTableShardingAlgorithm"/>

    <rdb:data-source id="shardingDataSource">
        <rdb:sharding-rule data-sources="dbtbl">
            <rdb:table-rules>
                <rdb:table-rule logic-table="t_user" actual-tables="t_user"
                                database-strategy="TimeDatabaseShardingAlgorithm"/>
            </rdb:table-rules>
        </rdb:sharding-rule>
    </rdb:data-source>


    <rdb:data-source id="orderShardingDataSource">
        <rdb:sharding-rule data-sources="dbtbl_order">
            <rdb:table-rules>
                <rdb:table-rule logic-table="t_order" actual-tables="t_order_${1..12}_${0..2}"
                                database-strategy="databaseNoneShardingStrategy" table-strategy="timeTableStrategy">
                    <rdb:generate-key-column column-name="id"/>
                </rdb:table-rule>
            </rdb:table-rules>
        </rdb:sharding-rule>
    </rdb:data-source>

</beans>