<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{web/layout/default}">

<head th:replace="web/layout/default :: head(~{this :: title})">
    <title>Web Home Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div>

    <header th:replace="~{web/common/header :: header}">
    </header>


    <div layout:fragment="content">
        <p>
            <a th:href="@{/admin/home/index}">Admin Index</a>
        </p>
        <p>
            Home Index
        </p>
        <p>
            <a th:href="@{/home/index}">Front Index</a>
        </p>
    </div>

    <div th:replace="~{web/common/footer :: footer}">
        <div>footer</div>
    </div>


</div>
</body>
</html>