<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{web/layout/default}">

<head >
    <title>User Home Login</title>
</head>
<body>

<div>


    <div layout:fragment="content">
        <form th:action="@{/user/login}" method="post">
            <p>
                <label for="username">Username</label>
                <input type="text" name="username" id="username"/>
            </p>
            <p>
                <label for="password">Password</label>
                <input type="text" name="password" id="password"/>
            </p>
            <p>
            <div th:text="${error}"></div>
            </p>
            <input type="submit" value="Login"/>
        </form>

        <a href="register">Register</a>
    </div>


</div>
</body>
</html>